html {
  scroll-behavior: smooth;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  color: black;
  font-family: "Monaco", monospace;
  margin: auto;
}

.img-container {
  display: block;
  margin: auto;
}
