html {
  scroll-behavior: smooth;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  position: relative;
  color: black;
  font-family: "Monaco", monospace;
  background-size: 100%;
}

.img-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
